<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Classes Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
            crossorigin="anonymous"></script>
</head>
<body>
<div style="text-align: center">
    <a th:href="@{/classes/create}">Create new Classes</a>
    <h1>Home Classes</h1>
    <a class="btn btn-primary" href="/classes/sortClass">Sort Class by student count</a>
    <a class="btn btn-primary" href="/classes/sortClassDes">Sort Class by student count des</a>
    <a class="btn btn-primary" href="/classes/getAvg">show Avg of class</a>
</div>
<table border="1" style="margin: auto;width: 700px;text-align: center">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Action</th>
        <th>Number of Students</th>
        <th th:if="${avgPoint != null}">Avg point</th>
    </tr>
    <tr th:each="c, count : ${classes}">
        <td th:text="${c.id}"></td>
        <td th:text="${c.name}"></td>
        <td><a th:href="@{/classes/update/__${c.id}__}">Update</a></td>
        <td th:text="${countStudent[count.index]}"></td>
        <td th:if="${avgPoint != null}" th:text="${avgPoint[count.index]}"></td>
    </tr>
</table>
<div style="text-align: center">
    <a href="/students">Back to student home</a>
</div>

</body>
</html>